.start {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  align-items: center;
  text-align: center;
}
.start h2 {
  margin-top: 40px;
  font-size: 17px;
  font-weight: bold;
}

.start p {
  font-size: 12px;
}

.start h5 {
  margin: 50px 0 20px 0;
  font-size: 14px;
}

.start h4 {
  font-size: 18px;
  margin-top: 50px;
  text-transform: uppercase;
}
.start input {
  outline: none;
  border: none;
  width: 300px;
  height: 40px;
  color: #000000;
  background: var(--bg-primary);
  padding: 5px 10px;
  margin-bottom: 50px;
}
