.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header img {
  width: 90px;
  height: 45px;
}

.header .sign-in {
  text-transform: uppercase;
  font-size: 14px;
  color: var(--primary-color);
}

.header .sign-in i {
  font-size: 20px;
  margin-right: 10px;
}
