.nav-container {
  display: grid;
  grid-template-columns: 20% 50%;
  gap: 65px;
  background: var(--bg-primary);
  color: #000000;
  padding: 0 30px;
  height: 120px;
}

.nav-container .text {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 0;
  font-size: 13px;
}

.nav-container .text .company-name {
  color: var(--primary-color);
  font-weight: bold;
}
.nav-container .text span {
  color: #555;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #E8E4E4;
  height: 45px;
  margin-top: 75px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.navbar-links .nav-link {
  padding: 9px 46px;
  border: 1px solid #E8E4E4;

}
.navbar-links .nav-link-active {
  padding: 9px 48px;
  border-top: 1px solid #E8E4E4;
  border-bottom: 3px solid #336699;
}